
__pycache__/Script_auxiliar_conexão_sql_server.cpython-38.pyc
__pycache__/conexoes_querys_sql_server.cpython-38.pyc
__pycache__/tela_cadastro_clientes.cpython-38.pyc
backup_script_projeto.py
Script SQL Server do projeto de criação do sistema com tkinter.sql
Script do projeto de criação do sistema com tkinter.py
Script Python do projeto de criação do sistema com tkinter.py
Script do projeto de criação do sistema com tkinter.py
Script do projeto de criação do sistema com tkinter.py
